# Created by .ignore support plugin (hsz.mobi)
**/.vertx/
**/*.iml
**/.idea/
**/target/
**/dist/
frontend/node/
frontend/node_modules/
/backend/src/main/resources/webroot/static/**/*
/backend/src/main/resources/webroot/index.html
